langchain
langchain-community
langchain-huggingface
langchain-chroma

pypdf

sentence-transformers
chromadb
langchain-google-genai
python-dotenv

# Backend
fastapi
uvicorn[standard]
python-multipart

# Frontend
streamlit
requests